.work-title{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.work-intro{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.work-gallery{
    margin-bottom: 60rem;
    background-color: rgb(126, 126, 128);
}
.work-meta{
    min-width: 1500px;
    margin: 30px;
    text-align: left;
    box-shadow: 0 2px 10px rgb(112, 108, 108);
    border-radius: 10px;
    padding: 1rem;
    max-width: 1000px;
    margin-bottom: 1.5rem;
}
.work-meta p{
    margin: 1.5rem;
}